.wrapper,
.modal-content {
  width: 80%;
  margin: auto;
}
/*UTILITARIOS*/
.item-pokemon {
  box-sizing: border-box;
  height: 100%;
  position: relative;
}
.item-pokemon .container-img{
  height: 75%;
  padding: 1rem;
}
.item-pokemon .container-img img{
  width: 100%;
  height: 100%;
}
.item-pokemon .trapeze {
  border-bottom: 70px solid #ffffff;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
}
.item-pokemon .user-action {
  bottom: 0;
  height: 25%;
  position: absolute;
  width: 100%;
}
.item-pokemon .container-icons {
  padding-top: 0.5rem
}
.item-pokemon .container-icons img{
  width: 15%;
}
.item-pokemon .name-pokemon {
  font-size: 1.25rem;
  font-weight: bold;
}
/*SECCIÓN SEARCH*/
#search .searcher i.prefix {
  margin-top: 1rem;
}
/*SECCIÓN RESULT*/
#results .col{
  padding: 1rem;
  height: 300px;
}
#results .l2{
  width: 20%;
}
/*MODAL*/
#modal1 {
  width: 80%;
  max-height: 85%;
}
#modal1 .modal-close{
  position: absolute;
  margin : 24px;
  right: 0;
  font-size: 2.5rem;
}
#modal1 .photo{
  height: 400px;
}
#modal1 .item-pokemon .trapeze {
  border-bottom: 100px solid #ffffff;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}
#modal1 .description p {
  font-size: 1.25rem;
  line-height: 1.25;
  margin: 0;
}
#modal1 .details{
  overflow: auto;
}
#modal1 .information > div{
  margin-bottom: 1rem;
}
#modal1 .detail{
  float: left;
  width: 35%;
  padding: 0.5rem 1rem;
}
#modal1 .detail span{
  display: block;
}
#modal1 .type span,
#modal1 .debility span{
  padding: 0.25rem 2rem;
  margin-right: 1rem;
}
/*#modal1 .detail span:nth-child(2){
  color: red;
}*/
